@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root{
    --clr-main:hsl(0, 0%, 100%);
    --clr-bg:hsl(212, 45%, 89%);
    --clr-pri:hsl(218, 44%, 22%);
    --clr-sec:hsl(220, 15%, 55%);
    --fs-body:15px;
    --ff:"Outfit",sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--clr-bg);
    font-family: var(--ff);
    font-size: var(--fs-body);

}
.container{
    margin-right: auto;
    margin-left: auto;
    margin-top: 4rem;
    margin-bottom: 1rem;
    background-color: var(--clr-main);
    border-radius: 5%;
    width: 22rem;
    height: auto;
    text-align: center;
    box-shadow:0 1rem 1rem rgba(0, 0, 0, 0.1);
}

img{
    width: 20rem;
    border-radius: 5%;
    margin: 1rem;
    margin-bottom: 0;
}

.text{

    margin: 0;
    margin-bottom: 2rem;
    padding: 1rem;
}
h1{
    font-weight: 700;
    color: var(--clr-pri);
    font-size: 1.5rem;
    margin-top: 0.5rem;
    padding: 0 1rem;
}
p{
    font-weight: 400;
    color: var(--clr-sec);
    margin: 1rem;
    padding: 0 1rem;
}
.attribution {
    font-size: 11px;
    text-align: center;
    margin: 1rem;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }